@using ProjetoFinal.Models.Enums

@model ProjetoFinal.Models.Solicitacao

@{
    ViewData["Title"] = "Detalhes";
    ViewData["th_paciente"] = "Paciente";
}

<h2>@ViewData["Title"]</h2>

<div class="form-control">
    <h4>Solicitação</h4>
    <hr />
    <div class="form-control">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.DataSolicitacao)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DataSolicitacao)
            </dd>
            @if (Model.DataRegulacao != null)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.DataRegulacao)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.DataRegulacao)
                </dd>
            }
            <dt>
                @ViewData["th_paciente"]
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Paciente.Nome)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Motivo)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Motivo)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Status)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Prioridade)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Prioridade)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.TipoLeito)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TipoLeito)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.NomeMedico)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.NomeMedico)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.NomeEnfermeiro)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.NomeEnfermeiro)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Observacoes)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Observacoes)
            </dd>
        </dl>
    </div>

    @if (Model.Status == SolicitacaoStatus.REGULADO)
    {
        <br />
        <h4>Informações do leito</h4>
        <hr />
        <div class="form-control">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Leito.Codigo)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Leito.Codigo)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Leito.Status)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Leito.Status)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Leito.TipoLeito)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Leito.TipoLeito)
                </dd>
            </dl>
        </div>
    }

    <br />
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a>
    @if (Model.Status == SolicitacaoStatus.SOLICITADO)
    {
        <a asp-action="Reserve" asp-route-id="@Model.Id" class="btn btn-warning">Reservar</a>
    }
    <a asp-action="Index" class="btn btn-secondary">Voltar</a>
</div>
