@model ProjetoFinal.Models.Paciente

@{
    ViewData["Title"] = "Detalhes";
}

<h2>@ViewData["Title"]</h2>

<div class="form-control">
    <h4>Paciente</h4>
    <hr />
    <div class="form-control">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DataNascimento)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Cpf)
            </dt>
            <dd class="cpf">
                @Html.DisplayFor(model => model.Cpf)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Rg)
            </dt>
            <dd class="rg">
                @Html.DisplayFor(model => model.Rg)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Telefone)
            </dt>
            <dd class="telefone">
                @Html.DisplayFor(model => model.Telefone)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Endereco.Cidade)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Endereco.Cidade)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Endereco.Estado)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Endereco.Estado)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Endereco.Cep)
            </dt>
            <dd class="cep">
                @Html.DisplayFor(model => model.Endereco.Cep)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Endereco.Bairro)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Endereco.Bairro)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Endereco.Rua)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Endereco.Rua)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Endereco.Numero)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Endereco.Numero)
            </dd>
        </dl>
    </div>
    <br />
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Voltar</a>
</div>
