@model ProjetoFinal.Models.Leito

@{
    ViewData["Title"] = "Detalhes do leito";
}

<div class="container">
    <div class="text-center mt-5">
        <h2 class="text-primary text-uppercase">
            <i class="fa-solid fa-bed"></i> @ViewData["Title"]
        </h2>
    </div>

    <div class="row mb-1">
        <div class="col-lg-7 mx-auto">
            <div class="card mt-2 mx-auto p-4 bg-primary bg-opacity-25 border-primary">
                <div class="card-body">

                    <div class="container bg-white mb-3 borda-container">

                        <div class="controls">

                            <div class="row mb-2 mt-3">
                                <div class="col-md-6">
                                    <dl class="dl-horizontal">
                                        <dt class="text-uppercase fw-bold text-primary">
                                            @Html.DisplayNameFor(model => model.Codigo)
                                        </dt>
                                        <dd class="fw-bold">
                                            @Html.DisplayFor(model => model.Codigo)
                                        </dd>
                                    </dl>
                                </div>
                                <div class="col-md-6">
                                    <dl class="dl-horizontal">
                                        <dt class="text-uppercase fw-bold text-primary">
                                            @Html.DisplayNameFor(model => model.Status)
                                        </dt>
                                        <dd class="fw-bold">
                                            @Html.DisplayFor(model => model.Status)
                                        </dd>
                                    </dl>
                                </div>
                            </div>

                            <div class="row mb-2">
                                <div class="col-md-6">
                                    <dl class="dl-horizontal">
                                        <dt class="text-uppercase fw-bold text-primary">
                                            @Html.DisplayNameFor(model => model.TipoLeito)
                                        </dt>
                                        <dd class="fw-bold">
                                            @Html.DisplayFor(model => model.TipoLeito)
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Remover" class="btn btn-secondary" />
                        <a asp-action="Index" class="btn btn-info">Voltar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>