@using ProjetoFinal.Models.Enums

@model ProjetoFinal.Models.Leito

@{
    ViewData["Title"] = "Informações do Leito";
}

<div class="container">
    <div class="text-center mt-5">
        <h2 class="text-primary text-uppercase">
            <i class="fa-solid fa-bed"></i> @ViewData["Title"]
        </h2>
    </div>

    <div class="row mb-2">
        <div class="col-lg-7 mx-auto">
            <div class="card mt-2 mx-auto p-4 bg-primary bg-opacity-25 border-primary">

                <div class="card-body">

                    <form asp-action="Edit" role="form">

                        <input type="hidden" asp-for="Id" />

                        <div class="container bg-white mb-3 borda-container">

                            <div class="controls">

                                <div class="row mb-2 mt-3">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="Codigo" class="form-label text-uppercase fw-bold text-primary"></label>
                                            <input asp-for="Codigo" class="form-control" />
                                            <span asp-validation-for="Codigo" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="Status" class="form-label"></label>
                                            <select asp-for="Status" class="form-control" disabled>
                                                <option value="">Selecione o status do leito</option>
                                                @foreach (var item in Enum.GetValues(typeof(StatusLeito)))
                                                {
                                                    <option value="@item">@item</option>
                                                }
                                            </select>
                                            <span asp-validation-for="Status" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>

                                @if (Model.Status == StatusLeito.LIVRE)
                                {
                                    <div class="row mb-4">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="TipoLeito" class="form-label"></label>
                                                <select asp-for="TipoLeito" class="form-control">
                                                    <option value="">Selecione o tipo do leito</option>
                                                    @foreach (var item in Enum.GetValues(typeof(TipoLeito)))
                                                    {
                                                        <option value="@item">@item</option>
                                                    }
                                                </select>
                                                <span asp-validation-for="TipoLeito" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="row mb-4">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="TipoLeito" class="form-label"></label>
                                                <select asp-for="TipoLeito" class="form-control" disabled>
                                                    <option value="">Selecione o tipo do leito</option>
                                                    @foreach (var item in Enum.GetValues(typeof(TipoLeito)))
                                                    {
                                                        <option value="@item">@item</option>
                                                    }
                                                </select>
                                                <span asp-validation-for="TipoLeito" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>

                        <div>
                            <input type="submit" value="Salvar" class="btn btn-primary" />
                            <a asp-action="Index" class="btn btn-info">Voltar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}