@using ProjetoFinal.Models.Enums

@model IEnumerable<Leito>

@{
    ViewData["Title"] = "Leitos";
    ViewData["th_medico"] = "Médico";
    ViewData["th_paciente"] = "Paciente";
}

<h4 class="text-uppercase text-primary fw-bold mt-5">
    <i class="fa-solid fa-bed"></i> @ViewData["Title"]
</h4>

<div class="d-flex justify-content-end mb-3">
    <a asp-action="Create" class="btn btn-primary btn-sm text-uppercase">
        Adicionar <i class="fa-solid fa-plus"></i>
    </a>
</div>

<table id="table-design" class="table table-striped table-hover">
    <thead>
        <tr class="table-primary">

            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.TipoLeito)
            </th>

            <th>
                @ViewData["th_paciente"]
            </th>

            <th>
                @ViewData["th_medico"]
            </th>

            <th>
                Ações
            </th>   
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <span class="badge bg-light">@Html.DisplayFor(modelItem => item.Codigo)</span>  
                </td>

                @if (item.Status == StatusLeito.LIVRE)
                {
                    <td>
                        <span class="badge rounded-pill bg-success">
                            @Html.DisplayFor(modelItem => item.Status)
                            <i class="fa-solid fa-circle-check"></i>
                        </span>
                    </td>
                }
                else
                {
                    <td>
                        <span class="badge rounded-pill bg-dark">
                            @Html.DisplayFor(modelItem => item.Status)
                            <i class="fa-solid fa-triangle-exclamation"></i>
                        </span>
                    </td>
                }

                @if (item.TipoLeito == TipoLeito.CLINICO)
                {
                    <td>
                        <span class="badge rounded-pill bg-info">
                            @Html.DisplayFor(modelItem => item.TipoLeito)
                            <i class="fa-solid fa-bed"></i>
                        </span>
                    </td>
                }
                else
                {
                    <td>
                        <span class="badge rounded-pill bg-success">
                            @Html.DisplayFor(modelItem => item.TipoLeito)
                            <i class="fa-solid fa-bed-pulse"></i>
                        </span>
                    </td>
                }
                
                @if (item.Status != StatusLeito.LIVRE)
                {
                    <td>
                        <span class="badge bg-light">@Html.DisplayFor(modelItem => item.Solicitacao.Paciente.Nome)</span> 
                    </td>
                    <td>
                        <span class="badge bg-light"> @Html.DisplayFor(modelItem => item.Solicitacao.NomeMedico)</span>  
                    </td>
                }
                else
                { 
                    <td><span class="badge bg-light">---</span></td>
                    <td><span class="badge bg-light">---</span></td>
                }

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn-acoes btn-acoes-ini">
                        <i class="fa-solid fa-pen"></i>
                    </a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn-acoes btn-acoes-ini">
                        <i class="fa-solid fa-eye"></i>
                    </a>
                    
                    @if (item.Status != StatusLeito.OCUPADO)
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn-acoes">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>